<header class=""></header>

<div class="mobile-nav-bar">
    <img class="logo-header img-fluid" src="/assets/resources/img/logo-header.png" alt="Limin Studio Logo">
    <a class="mobile-nav-icon" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="mobile-nav"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <div class="clearfix"></div>
    <div id="mobile-nav" [ngbCollapse]="isCollapsed">
        <a class="nav-link active" href="">Home</a>
        <a class="nav-link" href="/services">Service</a>
        <a class="nav-link" href="#">Education</a>
        <a class="nav-link" href="#">About us</a>
    </div>
</div>

<nav class="nav flex-column">
    <img class="logo-header img-fluid" src="/assets/resources/img/logo-header.png" alt="Limin Studio Logo">
    <a class="nav-link active" style="border-top: 1px solid rgba(255, 255, 255, 0.3)" href="">Home</a>
    <a class="nav-link" href="/services">Service</a>
    <a class="nav-link" href="#">Education</a>
    <a class="nav-link" href="#">About us</a>
    <div class="social-nav">
        <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-behance" aria-hidden="true"></i>
        </a>
    </div>
</nav>