<header></header>

<nav class="nav flex-column">
    <img class="logo-header img-fluid" src="/assets/resources/img/logo-header.png" alt="Limin Studio Logo">
    <a class="nav-link active" style="border-top: 1px solid rgba(255, 255, 255, 0.3)" href="#">Home</a>
    <a class="nav-link" href="#">Service</a>
    <a class="nav-link" href="#">Education</a>
    <a class="nav-link" href="#">About us</a>
    <div class="social-nav">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-behance" aria-hidden="true"></i>
    </div>
</nav>