<header></header>

<nav class="nav flex-column">
    <img class="logo-header img-fluid" src="/assets/resources/img/logo-header.png" alt="Limin Studio Logo">
    <a class="nav-link active" style="border-top: 1px solid rgba(255, 255, 255, 0.3)" href="#">Home</a>
    <a class="nav-link" href="#">Service</a>
    <a class="nav-link" href="#">Education</a>
    <a class="nav-link" href="#">About us</a>
    <div class="social-nav">
        <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-behance" aria-hidden="true"></i>
        </a>
    </div>
</nav>

<section class="home-content">
  <h5>Are you looking for a partner for graphic game design? </h5>
  <p>
      We are a hardworking and professional team. Working with us can save you manpower, 
      the cost of producing and operating your game, while maintaining the best quality.
  </p>
  <a href="#" class="btn btn-outline-light">See our service</a>

</section>