.services {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 400px;
    transform: translate(-50px,0);
    width: 70%;
    font-size: 80%;
    min-height: 100vh;
}

.services a {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: color .5s, color .5s;
}

.services a:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    transition: color .5s, color .5s;
}

.services .row {
    margin: 0 auto;
}

.character, .ux-ui, .weapon {
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    margin-top: 30px;
    background-repeat: no-repeat;
}

.character {
    background-image: url(https://i.pinimg.com/736x/dd/c3/79/ddc3794abb46316bf83e5184313e9533--game-character-character-concept.jpg);
}

.ux-ui {
    background-image: url(https://i.pinimg.com/564x/11/21/59/1121599a5808a835fe06111654d4a071.jpg);
}

.weapon {
    background-image: url(https://i.pinimg.com/564x/19/7c/f4/197cf43578fad3a2f77a31378911db45.jpg);
}

/* Query Reponsive */

@media screen and (min-width: 1024px) {
    .character, .ux-ui, .weapon {
        height: 90vh;
    }
}

@media screen and (max-width: 1024px) {
    .services {
        left:50%;
        width: 100%;
        transform: translate(-50%, 0);
        margin: 50px auto;
    }
}